{% extends "myspotify/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="ui segment">
  <h3 class="ui header">Search</h3>
  <p>Search any <b>Artist</b> from Spotify Api</p>
  <form class="ui inline form" method="post" action="{% url 'myspotify:search'%}">
    {% csrf_token %}
    <div class="field">
      <label>Search</label>
      <div class="ui action input">
        <input type="text" placeholder="Search..." name="query" required />
        <button class="ui right labeled icon blue button">
          <i class="search icon"></i>
          Search
        </button>
      </div>
    </div>
  </form>

  {% if results %}
  <div class="ui segment">
    <p>Results from "<b>{{query}}</b>"</p>
    <div class="ui cards">
      {% for result in results %}
        <div class="card">
          <div class="image">
            {% if result.images|length == 0 %}
              <img src="{% static 'img/no-cover.png' %}">
            {% else %}
              <img src="{{ result.images.0.url }}">
            {% endif %}
          </div>
          <div class="content">
            <a href="https://open.spotify.com/artist/{{result.id}}" target="_blank" class="header">{{result.name}}</a>
            <div class="meta">
              <span>{{result.type|title}}</span>
            </div>
          </div>
          <a href="{% url 'myspotify:artists_save' artist_id=result.id %}" class="ui bottom attached primary button">
            <i class="save icon"></i>
            Save
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
